nav ul {     
    display: flex;         
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 15px;
        align-items: center;

}
nav ul li {
    height: 55px;
    padding: 0px 30px;
    margin: 0;
    color: white;
    border-right: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:last-child {
    border-right: none;
}
nav ul li:first-child {
    padding-right: 10px;
}
nav input{
    margin-right: 3px;
}
nav ul{
    height: 40px;
    background-color: #e8949a;  
}
nav ul li{
    height: 80%;
    margin: 0;
    border-right: 1px solid blue;
}
nav img{
    height: 90%;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
td {
  vertical-align: top;
}
.block1 {
  width: 250px;
  padding-right: 5px;
  padding-left: 0px;
}
.block2 {
  width: auto;
  padding: 0 5px;
}
.block3 {
  width: 300px;
  padding-left: 5px;
}
body{
    border: 3px solid #e8949a;
    width:1200px;
    margin: 0 auto;
}
h1{ 
    color: #892c32;
    text-align: center;
    text-shadow: 17px 7px rgba(201, 126, 138, 0.6);
    
}
.block1 p{
    margin: 0;
}
.block2 div{
    width: 90%;
}
.block2 h2 {
    width: 60%;
    padding-left: 30px;
    margin: 0 auto;
    letter-spacing: 10px;
    background-color: #e8949a;
    color: #892c32;
}
.block2 span{
    color: #d08c62;
    font-weight: bold;
}


footer div{      
    text-align: center;
    color: white;
    background-color: #e8949a;
    padding: 5px 0;
    font-size: 1.5em;
}
footer p{
    margin: 5px 0px 5px 0px;
}
.roundImg {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;     
  box-shadow: 10px 15px 10px rgba(255, 105, 135, 0.5);
}
textarea{
    margin-left: 5px;
    height: 50px;
    width: 95%;

}
textarea::placeholder{
    color: black;
}

.block2 select{
    width: 93%;
    height:50px;
}
.block2 input[type="text"]{
    width: 90%;
    height:40px;
}
.block2 input[type="number"]{
    width: 90%;
    height:40px;
}
.block2 input[type="button"]{
    padding: 5px 10px 5px 10px;
}
.block2 form{
    padding: 10px;
}
.block2 form *{
    margin-top: 15px;
}

.block3 img{
    width: 80%;

    
}
.block3 div{
    margin-top: 40px;
}
.Options p{
  background-color: #e8949a;   
  color: white;
  margin: 5px 5px 5px 0px;
  padding: 5px 0px 5px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

td{
    vertical-align: top;
}
u{
    color: red;
}


.block3 .blackbackground{
    background-color: black;
    padding-bottom: 30px;
    padding-left: 0px;
}
.block3 *{
    margin: 0;
    color: white;
}
.block3 div{
    padding-left: 40px;
}
a{
    color:red;
}
.blackbackground a{
    color: rgb(221,170,204);
}
*{
    font-family: "Times New Roman", Times, serif;
}